{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Password reset - {{ request.user }}
{% endblock title %}

{% block main %}
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-5 mb-5">
            <h2>Parolingiz esdan chiqqan bo'lsa bizga email manzilingizni yuboring sizga parolingizni qayta tikashga yordam beramiz</h2>
            <form  method="post" enctype="multipart/form-data" >{% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary" >Send</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock main %}