{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Password reset - {{ request.user }}
{% endblock title %}

{% block main %}
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-5 mb-5">
            <h2>Birozdan so'ng emailingizga tasdiqlash kodi boradi. Siz u bilan parolingizni qayta tiklashingiz mumkin.</h2>
            <pre style="color: red;">Eslatma: Parolingizni hech kimga bermang!</pre>
        </div>
    </div>
  </div>
{% endblock main %}