{% extends 'base.html' %}

{% block title %}
    E-Market - Home
{% endblock title %}

{% block main %}

{% load static %}

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for product in products|slice:"0:3" %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="{{ product.images.all.0.image.url }}" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success"><b>E</b>-Market</h1>
                                    <h3 class="h2">{{ product.title }}</h3>
                                    <p>
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Eng so'nggi kategoriyalar</h1>
                <p>
                    Bu yerda eng so'nggi oyda qo'shilgan kategoriyalar hamda ulardagi 
                    eng so'ngi sotuvga qo'yilgan tovarlar
                </p>
            </div>
        </div>
        <div class="row">
            {% for category in categories|slice:"0:3" %}
            <div class="col-12 col-md-4 p-5 mt-3">
                {% with category.products.all|first as prod %}
                    <a href="{% url 'main:detail' prod.title %}">
                        {% with prod.images.all|first as image %}
                            <img src="{{ image.image.url }}" class="rounded-circle img-fluid border">
                        {% endwith %}
                    </a>
                <h5 class="text-center mt-3 mb-3">{{ category.name }}</h5>
                <p class="text-center"><a href="{% url 'main:detail' prod.title %}" class="btn btn-success">Go Shop</a></p>
                {% endwith %}
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Eng ko'p qiziqish bildirilganlar</h1>
                    <p>
                        Quyida siz eng ko'p qiziqish bildirilgan mahsulotlarni ko'rasiz.
                        Bu mahsulotlar ko'rishlar soni bo'yicha saralangan.
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products|slice:"0:3" %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        {% with product.images.all|first as image %}
                            <a href="{% url 'main:detail' product.title %}">
                                <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                            </a>
                        {% endwith %}
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">${{ product.price }}</li>
                            </ul>
                            <a href="#" class="h2 text-decoration-none text-dark">{{ product.title }}</a>
                            <p class="card-text">
                                {{ product.description }}
                            </p>
                            <p class="text-muted">Reviews ({{ product.views }})</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

{% endblock main %}
