{% extends 'base.html' %}

{% block title %}
    E-Market - Product Listing Page
{% endblock title %}

{% block search %}
<form method="post">
    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
        <div class="input-group">
            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
            <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
            </div>
        </div>
    </div>
    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
        <i class="fa fa-fw fa-search text-dark mr-2"></i>
    </a>
</form>
{% endblock search %}


{% block main %} 
    <!-- Start Content -->
    <div class="container py-5">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        {% for prod in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    {% with prod.images.all|first as image %}
                                        <img class="card-img rounded-0 img-fluid" src="{{ image.image.url }}">
                                    {% endwith %}                                    
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <!-- <li><a class="btn btn-success text-white" href="{% url 'main:detail' prod.title %}"><i class="far fa-heart"></i></a></li> -->
                                            <!-- <li><a class="btn btn-success text-white mt-2" href="{% url 'main:detail' prod.title %}"><i class="far fa-eye"></i></a></li> -->
                                            <li><a class="btn btn-success text-white mt-2" href="{% url 'main:detail' prod.title %}"><i class="fas fa-cart-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'main:detail' prod.title %}" class="h3 text-decoration-none">{{ prod.title }}</a>
                                    
                                    <!-- <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                    </ul> -->
                                    <p class="text-center mb-0">${{ prod.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- <div div="row">
                        <ul class="pagination pagination-lg justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
    </div>
    <!-- End Content -->

{% endblock main %}